<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Joe Nonato</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />        
        <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    
        <div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
            <div class="container container-fluid">                
                <div class="navbar-brand" id="brandDiv">
                    <a class="navbar-brand" href=""><i class="fa fa-asterisk"></i>  Joe Nonato</a>
                </div>

                <ul class="nav navbar-nav navbar-right" id="linksNav">
                    <li id="aboutLink"><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                    @*<li id="projectsLink"><a asp-area="" asp-controller="Home" asp-action="Projects">Projects</a></li>*@
                    @*<li id="contactLink"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                    <li id="contactLink"><a href="#contact-section">Contact</a></li>
                </ul>
            </div>
    </div>
    
    <div class="container container-fluid">
        <div id="overviewRow">

        </div>
            
        @RenderBody()
            
            
    </div>
   

    <footer class="nav navbar-inverse navbar-fixed-bottom  text-center">
        <div class="footer-text">&copy; 2016 - Joe Nonato III</div>
    </footer>
    
    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", false)
</body>
</html>
