<div class="col-md-12">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>
    <h2>Projects</h2>

    <!--<div class="panel panel-default dropShadow" ng-repeat="project in vm.projects">
        <div class="panel-heading">{{ project.name }}</div>
        <div class="panel-body">{{ project.description }}</div>
    </div>-->

    <div class="row">
        <div class="col-md-4" ng-repeat="project in vm.projects">
            <div class="thumbnail dropShadow">
                <img ng-src="images/{{ project.image }}" />
                <div class="caption">
                    <h4>{{project.name}}</h4>                    
                    <p>{{ project.description}}</p>                    
                    <p><a ng-show="{{ project.productLink }}" ng-href="http://{{ project.productLink }}" class="btn btn-primary" target="_blank"> More Info</a></p>
                </div>
            </div>

        </div>

    </div>

    <!--<ul class="list-group">
        <li class="list-group-item" ng-repeat="project in vm.projects">
            <div class="row">
                <div class="col-md-4">
                    {{ project.name }}
                </div>
                <div class="col-md-8">
                    {{ project.description }}
                </div>
            </div>


        </li>
    </ul>-->
</div>
